---
---

<ul class="list pa0">
  {% for post in site.posts %}
  <li class="mv2">
    <a href="{{ site.url }}{{ "/blog/" }}{{ post.url }}" class="db pv1 link blue hover-mid-gray">
      <time class="fr silver ttu">{{ post.date | date_to_string }} </time>
      {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>

<ul class="list pa0">
  {% for page in site.pages %}
  <li class="mv2">
    <a href="{{ site.url }}{{ "/blog/" }}{{ page.url }}" class="db pv1 link blue hover-mid-gray">
      {{ page.title }}
    </a>
  </li>
  {% endfor %}
</ul>

